.button{
-fx-background-color: #EEEEEE;
-fx-font-size: 12;
}

.button:hover
{
-fx-background-color: #C0D5F7;

}

.button:pressed
{
-fx-background-color: #73A3FEF;

}

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#titleLabel {
    -fx-font-size: 24pt;
}
#detailsPane Label {
    -fx-font-size: 16pt;
}

#loginBtn:hover {
   -fx-background-color: #FFFFFF;
}

.gradient{
	-fx-background-color: linear-gradient(to left, #3308EE, #540051);
}
